<%
@title_for_layout = 'Dashboard'
@body_id = 'dashboard'
%>

<div id="mycards" class="black_region rounded_corners">
  
  <h2 class="header">My cards</h2>
  
  <% if @business_cards.count > 0 %>
  <ul class="item_list">
    <% @business_cards.each do |business_card| %>
      <li class="white_box rounded_corners">
        <div class="left">
          <a href="/<%= business_card.url %>"><%= business_card.title %></a>
        </div>
        <div class="options">
          <a class="delete" href="/business_cards/<%= business_card.id %>/delete" title="Delete"></a>
          <%= link_to 'Delete', business_card, :method => :delete, :confirm => 'Are you sure? This action cannot be undone', :class => 'delete action_link' %>
          <a target="_blank" href="/<%= business_card.url %>" class="viewlive action_link"><%= business_card.url %></a>
          <%#= link_to 'Edit', business_card, :method => :edit, :class => 'edit action_link' %>
          <%= link_to 'Edit', edit_business_card_path(business_card), :class => 'edit action_link' %>
        </div>
      </li>
    <% end %>
    
    <%= link_to 'Create new card', new_business_card_path, :class => 'cta_link' %>
    
  </ul>
  <% else %>
    <span style="color:#fff">You have yet created any cards. </span> 
    <%= link_to 'Create one now', new_business_card_path, :class => 'cta_link' %>
  <% end %>
  
</div>