<%
@title_for_layout = 'Edit Business Card'
@body_id = 'edit_business_card'
%>

<h1 style="float:left"><%= @title_for_layout %></h1>

<div class="options" style="float:right; text-align:right">
  <a id="select_background" class="open_gallery">Choose a background</a> | <a id="select_theme" class="open_gallery">Select a theme</a> | <a id="preview_card" href="/<%= @business_card.url %>" target="_blank">View card</a>
</div>

<div class="clearfloat"></div>

<% form_for @business_card do |business_card_form| %>

  <%= render :partial => 'shared/flash_notice' %>
  
  <% if @business_card.errors.count > 0 %>
    <%= render :partial => 'shared/form_errors', :locals => {:f => business_card_form} %>
  <% end %>
    
  <div class="vanilla_region">
  
    <div class="white_region">
      <div class="beige_region">
        
        <h2>Basic Information</h2>
    
        <div class="form_row">
          <%= business_card_form.label :title %>
          <%= business_card_form.text_field :title, :class => :textbox %>
        </div>
  
        <%= business_card_form.fields_for :business_card_information do |info| %>
    
          <div class="form_row">
            <%= info.label :name %>
            <%= info.text_field :name, :class => :textbox %>
          </div>
  
          <div class="form_row">
            <label>Business card title</label>
            <%= info.text_field :title, :class => :textbox %>
          </div>
          
          <h2>Contact Information <span class="concern" id="order_contact_information">order</span></h2>
      
          <div class="form_row">
            <%= info.label :email %>
            <%= info.text_field :email, :class => :textbox %>
          </div>
      
          <div class="form_row">
            <%= info.label :website %>
            <%= info.url_field :website, :class => :textbox %>
          </div>
      
          <div class="form_row">
            <%= info.label :phone_number %>
            <%= info.text_field :phone_number, :class => :textbox %>
          </div>
      
          <div class="form_row">
            <%= info.label :fax_number %>
            <%= info.text_field :fax_number, :class => :textbox %>
          </div>
      
          <div class="form_row">
            <%= info.label :address %>
            <%= info.text_field :address, :class => :textbox %>
          </div>
          
          <%= business_card_form.submit 'Update', :class => :red_btn %>
        
      </div>
      
    </div>
      
    <% end %>
    
  </div>
  
<% end %>

<input type="hidden" id="business_card_id" value="<%= @business_card.id %>" />

<%= render :partial => 'shared/theme_gallery' %>

<%= render :partial => 'shared/background_gallery' %>

<%= render :partial => 'shared/business_card_section_modal' %>