<%
@title_for_layout = 'View Business Card Statistics'
@body_id = 'show_business_card_statistics'
%>

<h1>Statistics</h1>

<div class="vanilla_region">
  <div class="white_region">
    <div class="beige_region">
      
      <h2>Browser distribution</h2>
      <% if @total > 0 %>
      <ul id="browser_distribution" class="item_list">
        <% ['Firefox', 'Opera', 'Safari', 'Chrome'].each do |browser| %>
          <li class="browser_distribution">
            <% if !@browser_stats[browser].nil? %>
            
              <%= image_tag "#{browser.downcase}.png", :class => :browser_icon, :alt => browser %> 
              <span class="percentage"><%= 100 * @browser_stats[browser]/@total %>%</span>
            
            <% else %>
            
              <%= image_tag "#{browser.downcase}.png", :class => :browser_icon, :alt => browser %> 
              <span class="percentage">0%</span>
          
            <% end %>
          </li>
        <% end %>
      </ul>
      <% else %>
      <p style="margin-bottom:20px">Statistics will start to show here as people start viewing your card</p>
      <% end %>
      
      <h2>Country distribution</h2>
      
      <% if @country_stats.count > 0 %>
      <ul class="item_list">
        <% @country_stats.each do |country_code, count| %>
          <% country_name = Carmen.country_name(country_code) %>
          <li><%= country_name %>: <%= count %></li>
        <% end %>
      </ul>
      <% else %>
      <% end %>
      
    </div>
  </div>
</div>