<!DOCTYPE html>
<html>
<head>
  <title><%= @title_for_layout %> - Alexis</title>
  <%= stylesheet_link_tag [
    'master'
    ] %>
  <%= javascript_include_tag [
    'jquery',
    'master'
    ] %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= @body_id %>">

<%= render :partial => 'shared/taskbar' %>

<div id="stage">
  <%= yield %>
</div>

<div id="overlay"></div>

</body>
</html>
